<h1>
  Категории товаров
</h1>

<div class="space-20"></div>

<% @categories.each do |category| %>
    <%= link_to goods_catalogs_path(category.link) do %>

        <div class="row-fluid hovered">

          <div class="span4">
            <%= image_tag(asset_path(category.image.url(:preview))) %>
          </div>

          <div class="span8 description">
            <h2>
              <%= category.name %>
            </h2>

            <p>
              <%= category.description %>
            </p>
          </div>
        </div>

    <% end %>
<% end %>