<h1>
  Приветствую!
</h1>

<h3>F.A.Q. </h3>

<ul>

  <li>
    <h3>Товар</h3>
  </li>

  <li style="list-style: none">
    <ul>

      <li>
        При выкладке товара фото загружать по одному (загрузил-сохранил),
        это связано с производительностью сервера. Когда много фоток, он не успевает их обработать,
        и может появиться ошибка.
      </li>

      <li>
        У каждого размера есть много ростовок, "Добавить размер --> "Добавить рост", выведутся в столбик,
        можно посмотреть в выложеных товарах.
      </li>

      <li>
        "Свойства товара" - не знал как назвать раздел, чтобы было понятнее. Вобщем описание продукта,
        в нем два текстовых поля "Наименование" - "Значение". Для примера: "Подкладка" - "Флис".
        Добавляем сколько нужно, в списке товаров выведутся первые три, при просмотре "Подробнее" выведутся все.
      </li>

    </ul>
  </li>

  <li>
    <h3>Категории</h3>
  </li>

  <li style="list-style: none">
    <ul>
      <li>
        В общем списке есть две стрелочки, они нужны для сортировки категорий. На сайте отображаются в том же
        порядке что и в админке.
      </li>

      <li>
        На сайте отобразятся только "Активные" категории.
      </li>

    </ul>
  </li>

  <li>
    <h3>Слайдер</h3>
  </li>

  <li style="list-style: none">
    <ul>
      <li>
        Если загружен только один слайд - работает как картинка. Если больше - будут меняться на главной.
      </li>

      <li>
        Аналогично категориям отобразятся только "Активные".
      </li>
    </ul>
  </li>
</ul>
<div class="space-30"></div>