<style>
    .primary-content {
        min-height: 500px;
        text-indent: 5px;
    }
</style>
<div class="primary-content">

  <div class="row-fluid">

    <div class="flexslider">
      <ul class="slides">
        <% @sliders.each do |slider| %>
            <li>
              <%= image_tag(asset_path(slider.image(:main)), title: slider.title) %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">

      <%= @site_info.main_text.html_safe %>

    </div>
  </div>
</div>
