<style>
    .primary-content {
        min-height: 500px;
        text-indent: 5px;
    }
</style>
<div class="primary-content">

  <div class="row-fluid">

    <div class="flexslider">
      <ul class="slides">
        <% @sliders.each do |slider| %>
            <li>
              <%= image_tag(asset_path(slider.image(:main)), title: slider.title) %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <p>
        Компания <strong>«Горизонт-Текстиль»</strong> успешно работает на рынке текстильной продукции с 2010 года и
        является
        производителем одежды для охоты, рыбалки, туризма и активного отдыха. Наша компания занимается такими видами
        деятельности, как производство и оптовая продажа одежды.
      </p>

      <p>
        При производстве продукции используются современные материалы высокого качества. Выполняется строгий контроль
        качества изделий.
        Широкий ассортимент продукции, стабильные поставки и налаженная оперативная работа нашей компании позволит
        удовлетворить любые ваши запросы.
      </p>

      <p>
        Компания «Горизонт-Текстиль» принимает заказы на пошив одежды. Опытные специалисты качественно и в короткие
        сроки изготовят продукцию любого фасона из любых тканей.
      </p>
    </div>
  </div>
</div>
